<ul>
  <li>
    <%= link_to t('.create_new'), refinery.new_slideshow_admin_slideshow_slide_path(slideshow),
                 :class => "add_icon" %>
  </li>
  <% if !searching? && ::Refinery::Slideshow::Admin::SlidesController.sortable? && records.count > 1 %>
    <li>
      <%= link_to t('.reorder'),
        refinery.edit_slideshow_admin_slideshow_path(slideshow),
        :id => "reorder_action",
        :class => "reorder_icon" %>

      <%= link_to t('.reorder_done'),
        refinery.edit_slideshow_admin_slideshow_path(slideshow),
        :id => "reorder_action_done",
        :style => "display: none;",
        :class => "reorder_icon" %>
    </li>
  <% end %>
</ul>

