<section id='records'>
  <%= render 'refinery/slideshow/admin/slides/records', records: records %>
</section>
<aside id='actions'>
  <%= render 'refinery/slideshow/admin/slides/actions', slideshow: slideshow %>
</aside>
