<ul>
  <li>
    <%= link_to t('.create_new'), refinery.new_slideshow_admin_slideshow_path,
                 :class => "add_icon" %>
  </li>
  <li>
    <%= link_to t('.list'), refinery.slideshow_admin_slideshows_path,
                 :class => "manage_icon" %>
  </li>
  <% if !searching? && ::Refinery::Slideshow::Admin::SlideshowsController.sortable? && ::Refinery::Slideshow::Slideshow.any? %>
    <li>
      <%= link_to t('.reorder'),
        refinery.slideshow_admin_slideshows_path,
        :id => "reorder_action",
        :class => "reorder_icon" %>

      <%= link_to t('.reorder_done'),
        refinery.slideshow_admin_slideshows_path,
        :id => "reorder_action_done",
        :style => "display: none;",
        :class => "reorder_icon" %>
    </li>
  <% end %>
</ul>

