<%= render 'refinery/slideshow/admin/slideshows/form', object: @slideshow %>

<h2><%= t '.slides' %></h2>
<%= render 'refinery/slideshow/admin/slides/index', records: @slideshow.slides, slideshow: @slideshow %>


